<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @user.avatar if @user.avatar.attached? %>
</p>

<p>
	<strong>Name:</strong>
	<%= @user.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @user.description %>
</p>
<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= link_to 'Edit', edit_user_registration_path(@user) %> |
	<% end %>
<% end %>

<%= link_to 'Back', users_path %>
